* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif; /* Adicione a fonte desejada, se necessário */
}
h1 {
  text-align: center;
  color: #4b0082;
  padding: 20px;
}
nav {
  background-color: lightpink;
}

/* Style the list and remove list styling */
nav ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

/* Style the list items (menu items) */
nav li {
  display: inline;
  margin-right: 20px; /* Add spacing between items */
}

/* Style the links (anchor tags) */
nav a {
  border: 2px solid #800080;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none; /* Remove underline */
  color: #fff; /* Text color */
  font-weight: bold;
}

/* Change link color on hover */
nav a:hover {
  color: #800080;
}

/* Apply some basic styling to the form */
form {
  width: 90%;
  margin: 0 auto;
}

/* Style the labels and inputs */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Div*/
.forum-post {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: #4b0082;
}

.post-content {
  margin-top: 10px;
  color: #555;
}

.post-info {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  color: #777;
}

.post-date,
.post-author {
  font-size: 14px;
}

.invisible {
  display: none;
}

/*testtt */

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.invisible {
  display: none;
}

button {
  background-color: #4b0082;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #800080;
}

.logout-link {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.logout-link a {
  color: #4b0082;
  text-decoration: none;
}

.logout-link a:hover {
  color: #800080;
}

input[type="submit"] {
  background-color: #4b0082;
}
#article {
  height: 100px;
}
