* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #1f4180;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
} p{
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  background-color: #0e79bf;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  border: 2px solid #8fd5dd;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #8fd5dd;
  font-weight: bolder;
}

nav a:hover {
  color: #1e417b;
  background-color: #8fd5dd;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
}

form {
  color: #1e417b;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

input,
select {
  width: calc(100% - 12px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forum-post {
  word-wrap: break-word;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 26px;
  font-weight: bold;
  color: #1e417b;
}

.post-content {
  font-family: monospace;
  font-size: 18px;
  margin-top: 10px;
  color: grey;
}

.post-info {
 
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  color: #1e417b;
  font-size: 10px;
}

.invisible {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: transparent;
  box-shadow: 0 0 10px #1e427b7b;
  border-radius: 8px;
}

.invisible {
  display: none;
}

button {
  cursor: pointer;
  background-color: #ff8b8ba4;
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #ff8b8be7;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.logout-link {
  display: block;
  margin: 20px;
  text-align: center;
}

.logout-link a {
  color: slategrey;
  text-decoration: none;
}

.logout-link a:hover {
  color: #0e79bf;
}

input[type="submit"] {
  margin-left: 20px;
  cursor: pointer;
  background-color: #1e417b;
  color: white;
  width: 20%;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: #1e417b;
  background-color: #8fd5dd;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

textarea {
  width: 100%;
  min-height: 200px;
  overflow-wrap: break-word;
}
